* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 1em;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.select {
  background-color: #ffffff;
  height: 1.8em;
  padding: 1.5em;
  margin: 2em 0;
}

.box {
  padding: 0.5em;
  border-radius: 3px;
  width: 30%;
}

.box.confirmed {
  border: 1px solid #ffffff;
  background-color: rgb(44, 109, 206);
}

.box.recovered {
  border: 1px solid #ffffff;
  background-color: rgb(105, 189, 123);
}

.box.deaths {
  border: 1px solid #ffffff;
  background-color: rgb(185, 87, 87);
}
